/* RandomRecipe 컴포넌트 */ 
.random_recipe {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 70px;
}

.random_recipe_back_wrap {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #685144;
  height: 500px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.random_recipe_back {
  background-color: #ece1dc;
  width: 90%;
  height: 85%;
  margin: auto;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.random_textandbtn {
  padding: 0 80px;
}

.random_title {
  text-align: right;
  padding-right: 80px;
}

.random_title p {
  font-size: 2.5rem;
  color: #816759;
}

.random_title h5 {
  font-size: 3.5rem;
  padding-top: 15px;
  font-weight: bold;
  color: #463329;
}

.random_textandbtn .random_text h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #463329;
}

.random_textandbtn .random_text p {
  font-size: 1.3rem;
  padding-top: 10px;
  color: #816759;
}

.random_textandbtn .random_btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.random_textandbtn .random_btn button {
  width: 200px;
  height: 45px;
  border-radius: 50px;
  background-color: #685144;
  border: 0;
  color: #f1eae7;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 7px 0;
  padding-top: 7px;
  transition: all 0.3s;
}

.random_textandbtn .random_btn button:hover {
  background-color: #00A82F;
  transition: all 0.3s;
}

.random_textandbtn .random_btn button.active {
  background-color: #00A82F;
  transition: all 0.3s;
}

.random_recipe_result .random_img {
  position: absolute;
  width: 50%;
  height: 600px;
  top: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}



/* SearchWrite 컴포넌트 */
.searchandwrite {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: 30px;
}

.searchandwrite .search_bar {
  position: relative;
  width: 75%;
  transition: all 0.5s;
}

.searchandwrite .search_bar_onscroll {
  position: relative;
  width: 100%;
  transition: all 0.5s;
}

.searchandwrite .search_bar .search_input,
.searchandwrite .search_bar_onscroll .search_input {
  width: 100%;
  height: 60px;
  background-color: #f1eae7;
  border-radius: 50px;
  border: 0;
  font-size: 2rem;
  padding-left: 35px;
  color: #816759;
  margin-bottom: 0;
}

.searchandwrite .search_bar .search_input::placeholder,
.searchandwrite .search_bar_onscroll .search_input::placeholder {
  color: #816759;
}

.searchandwrite .search_bar .search_btn,
.searchandwrite .search_bar_onscroll .search_btn {
  position: absolute;
  top: 11px;
  right: 25px;
  background-image: url('../img/icon/searchbtn.png');
  background-position: center;
  background-size: cover;
  width: 35px;
  height: 35px;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.write_btn {
  width: 24%;
  height: 60px;
  border-radius: 50px;
  background-color: #F27E65;
  border: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
}

.write_btn:hover {
  background-color: #00A82F;
}

.write_btn .animated {
  white-space: nowrap;
  display: flex;
  will-change: transform;
  animation: marquee 10s linear infinite;
}

.write_btn .animated .content {
  width: 290px;
  display: flex;
  align-items: center;
  color: #F2EEEC;
}

.write_btn .animated .content img {
  margin-left: 10px;
}

.write_btn_onscroll {
  position: fixed;
  top: 680px;
  right: 50px;
  z-index: 100;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: #F27E65;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: btnmove 0.5s;
}

@keyframes btnmove {
  30% {
    width: 30px;
  }
  100% {
    width: 100px;
  }
}

.write_btn_onscroll .animated {
  font-size: 1.5rem;
  white-space: nowrap;
  display: flex;
  will-change: transform;
  animation: marquee 7s linear infinite;
}

.write_btn_onscroll .content {
  width: 215px;
  display: flex;
  align-items: center;
  color: #F2EEEC;
}

.write_btn_onscroll .content img {
  width: 30px;
  height: 30px;
  margin-left: 6px;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-35%); }
}

.write_btn_onscroll:hover {
  transform: scale(1.2);
  background-color: #00A82F;
}


/* TopBtn 컴포넌트 */
.top_btn{
  visibility: hidden;
  position: fixed;
  width: 0;
  height: 0;
  right: 50px;
  bottom: -100px;
  border: 0;
  border-radius: 50%;
  background-color: #EDDED7;
  transition: all 0.5s;
  font-size: 1.5rem;
  font-weight: bold;
  color: #816759;
  z-index: 100;
  cursor: pointer;
}

.top_btn_show {
  visibility: visible;
  position: fixed;
  width: 100px;
  height: 100px;
  top: 800px;
  right: 50px;
  border: 0;
  border-radius: 50%;
  background-color: #EDDED7;
  transition: all 0.5s;
  font-size: 1.5rem;
  font-weight: bold;
  color: #816759;
  z-index: 100;
  cursor: pointer;
  animation: topbtnmove 0.7s;
}


.top_btn_show:hover {
  transform: scale(1.2);
  background-color: #685144;
  color: #F2EEEC;
}

@keyframes topbtnmove {
  30% {
    bottom: 180px;
  }
  100% {
    bottom: 150px;
  }
}



/* BestRecipe 컴포넌트 */
.mainpage .best_recipe_wrap {
  margin-top: 0px;
}

.mainpage .best_recipe_wrap .best_recipe_title {
  margin-top: 30;
}



/* MainEventsComp */
.mainevents {
  height: 1000px;
  background-color: #f1eae7;
  box-sizing: border-box;
  padding: 125px 0;
}

.maineventsbox {
  width: 1500px;
  height: 750px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.maineventsbox .titleandbtn {
  display: flex;
  justify-content: space-between;
}

.maineventsbox .titleandbtn h3 {
  font-size: 2rem;
  font-weight: bold;
}

.maineventsbox .titleandbtn button {
  color: #FDF7F7;
  background-color: #816759;
  border-radius: 50px;
  border: 0;
  padding: 0 10px;
  cursor: pointer;
}

.main_events_imglist {
  height: 680px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.maineventsbox img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 40px;
}

.main_town_events {
  width: 46%;
}

.main_class_events {
  width: 46%;
}