.nav_wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: white;
  transition: all 0.2s;
}

.nav {
  width: 1500px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 70px;
  background-image: url(../img/logo/logo.png);
  background-position: center;
  background-repeat: no-repeat;
}

.nav_list_wrap {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.nav_list_wrap .active .nav_list {
  box-sizing: border-box;
  color: #00A82F;
}

.user_icon_wrap .user_icon div.active {
  width: 22px;
  height: 22px;
  background-image: url(../img/nav/user_hover.png);
}

.nav_list_wrap .active {
  color: #00A82F;
}

.nav_list_wrap .nav_list {
  box-sizing: border-box;
  height: 70px;
  width: 80px;
  padding-top: 30px;
  text-align: center;
}

.nav_list_wrap .user_icon {
  box-sizing: border-box;
  height: 70px;
  width: 40px;
  padding-top: 25px;
  padding-left: 8.5px;
}

.nav_list_wrap .nav_list:hover, .user_icon:hover {
  box-sizing: border-box;
  border-bottom: 2px solid #00A82F;
  color: #00A82F;
}

.nav_sub_list li:hover a {
  color: #00A82F;

}

.user_icon div {
  width: 23px;
  height: 23px;
  background-image: url(../img/nav/user.png);
  background-position: center;
  transition: all 0.1s;
}
.user_icon_wrap:hover .user_icon div {
  width: 22px;
  height: 22px;
  background-image: url(../img/nav/user_hover.png);
  transition: all 0.1s;
}

.user_icon_wrap:hover .nav_sub_list {
  display: block;
  transition: all 0.3s;
}

.user_icon_wrap {
  position: relative;
}

.nav_sub_list {
  position: absolute;
  top: 70px;
  transform: translateX(-36%);
  width: 150px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  display: none;
  color: gray;
  background-color: white;
  transition: all 0.3s;
  border-radius: 0 0 40px 40px;
}

.nav_sub_list li {
  padding-bottom: 10px;
}