/* 베스트레시피 */
.best_recipe_wrap {
  box-sizing: border-box;
  width: 1500px;
  margin: auto;
  margin-top: 70px;
  text-align: center;
}

#bestRecipeSwiperId {
  overflow: visible;
  margin-bottom: 50px;
}

#bestRecipeSwiperId .swiper-pagination {
  position: relative;
  margin-top: 25px;
  z-index: 0;
}

#bestRecipeSwiperId .swiper-pagination-bullet-active {
  background-color: #303030;
}

.best_recipe_wrap {
  width: 1500px;
  overflow: hidden;
}

.best_recipe_title {
  margin-top: 65px;
  margin-bottom: 45px;
  font-size: 2rem;
}

.best_recipelist {
  width: 1500px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.best_recipe {
  position: relative;
  width: 284px;
  height: 450px;
  border-radius: 40px;
  overflow: hidden;
  background-color: #E8E8E8;
  cursor: pointer;
}

.best_recipe .recipecard_heart_icon {
  position: absolute;
  right: 15px;
  bottom: 131px;
  width: 30px;
  height: 27px;
  background-image: url("../img/icon/scrap.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.best_recipe .heart_icon_on {
  position: absolute;
  right: 14px;
  bottom: 132px;
  width: 32.5px;
  height: 28.5px;
  background-image: url("../img/icon/scrap_on.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.best_recipe:hover .best_img {
  transform: scale(1.1);
  transition: all 0.5s;
}

.best_img_wrap {
  width: 284px;
  height: 334px;
  overflow: hidden;
}

.best_img {
  width: 284px;
  height: 334px;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}

.best_ranking_wrap {
  position: absolute;
  top: 0;
  left: 30px;
  width: 50px;
  height: 60px;
  background-color: #F27E65;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.best_ranking {
  padding-top: 20px;
  font-size: 1.3rem;
  color: white;
}

.best_subtitle {
  color: #9C9C9C;
  margin-top: 20px;
  font-size: 0.9rem
}

.best_title {
  font-size: 1.3rem;
  margin-top: 10px;
}

.best_card .recipecard_time_wrap {
  width: 100px;
  margin: auto;
  justify-content: center;
  margin-top: 10px;
}





/* 레시피 카테고리 바 */
.recipecards_wrap{
  display: grid;
}
.recipecard {
  width: 250px;
}
.recipe_menu_bar {
  display: flex;
  width: 702.2px;
  height: 50px;
  align-items: center;
  margin: auto;
  margin-top: 150px;
  background-color: #EDDED7;
  border-radius: 50px;
  font-size: 0.9rem;
}

.recipe_menu_inactive  {
  color: #816759;
  padding: 17px 44.516px;
}

.recipe_menu_active {
  background-color: #F27E65;
  border-radius: 50px;
  color: #F2EEEC;
  padding: 17px 44.516px;
  transition: all 0.3s;
}


/* 카테고리별 레시피카드 */
.recipecards_wrap {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;
  height: 765px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}

.recipecard {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipecard_img_wrap {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.recipecard_img {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.recipecard:hover .recipecard_img{
  transform: scale(1.1);
  transition: all 0.5s;
  
}

.recipecard_title_wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8px 3px 8px;
  cursor: pointer;
}

.recipecard_title {
  font-size: 1.3rem;
  padding-top: 3.5px;
}

.recipecard_heart_icon {
  background-image: url("../img/icon/scrap.png");
  background-size: cover;
  width: 20px;
  height: 17.5px;
  cursor: pointer;
}

.heart_icon_on {
  background-image: url("../img/icon/scrap_on.png");
  background-size: cover;
  width: 20px;
  height: 17.5px;
  cursor: pointer;
}

.recipecard_time_wrap {
  box-sizing: border-box;
  display: flex;
  font-size: 0.8rem;
  padding: 0 8px;
}

.recipecard_time_icon {
  background-image: url('../img/icon/clock.png');
  width: 12px;
  height: 15px;
}

.recipecard_time {
  color: #9C9C9C;
  padding-top: 2.5px;
  padding-left: 3px;
}

.recipecards_pagebtn_wrap {
  width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}

.recipecards_pagebtn_wrap .prevbtn {
  appearance: none;
  border: 0;
  background-color: inherit;
  background-image: url("../img/icon/prevbtn.png");
  width: 13px;
  height: 13px;
  background-size: cover;
  cursor: pointer;
}

.recipecards_pagebtn_wrap .nextbtn {
  appearance: none;
  border: 0;
  background-color: inherit;
  background-image: url("../img/icon/nextbtn.png");
  width: 13px;
  height: 13px;
  background-size: cover;
  cursor: pointer;
}

.currentpagebtnslide {
  display: inline-block;
  margin: 0 20px;
}

.recipecards_pagebtn {
  box-sizing: border-box;
  margin: 0 5px;
  appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 0;
  background-color: #D9D9D9;
  color: #303030;
  cursor: pointer;
}

.recipecards_pagebtn_on {
  box-sizing: border-box;
  margin: 0 5px;
  appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 0;
  color: #FBF2F2;
  background-color: #303030;
}



/* RecipeView 페이지 */
.currecipe_wrap {
  width: 1500px;
  margin: auto;
  padding: 50px 0;
}

.currecipe_info {
  display: flex;
}

.currecipe_info_img {
  width: 600px;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.currecipe_info_text_wrap {
  box-sizing: border-box;
  margin-left: 50px;
  border-top: 1.5px solid #A4A4A4;
  padding-top: 40px;
  width: 910px;
  height: 600px;
}

.currecipe_title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currecipe_title {
  font-size: 4rem;
}

.currecipe_info_text {
  font-size: 1.8rem;
  margin-top: 40px;
  width: 100%;
}
.currecipe_info_text tr {
  height: 40px;
}

.currecipe_info_text tr td:first-child {
  width: 150px;
}

.currecipe_ingredient_title {
  top: 0;
}
.currecipe_info_text .currecipe_ingredient {
  background-color: #EDDED7;
  border-collapse: collapse;
  width: 100%;
  height: 255px;
  line-height: 40px;
  vertical-align: text-top;
  padding: 20px;
}

.currecipe_content {
  border-top: 1.5px solid #A4A4A4;
  border-bottom: 1.5px solid #A4A4A4;
  margin: 50px 0;
  padding: 50px 0;
  text-align: left;
  font-size: 1.2rem;
}



/* 댓글 */
.currecipe_comment {
  width: 100%;
  background-color: #ECECEC;
  padding: 15px;
  margin-top: 5px;
}

.currecipe_comment_write {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1.5px solid #A4A4A4;
}

#currecipe_comment_writetext {
  width: 1470px;
  height: 80px;
  box-sizing: border-box;
  border: 0;
  padding: 10px;
}

#currecipe_comment_writetext:focus {
  outline: 0;
}

#currecipe_comment_writebtn {
  background-color: #816759;
  border-radius: 0;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  margin: 0;
}

/* CommentComp */
.comment_content {
  display: grid;
  grid-template-columns: 1210px 140px 60px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1.5px solid #A4A4A4;
  padding: 15px 20px;
  line-height: 35px;
}

.comment_content button {
  cursor: pointer;
}

.comment_user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment_user_edit {
  display: flex;
  align-items: center;
  width: 200px;
}

.comment_editbtn {
  background-image: url('../img/icon/edit.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  background-color: inherit;
  border: 0;
  margin: 5px;
}

.comment_deletebtn{
  background-image: url('../img/icon/delete.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: 0;
}

.comment_like{
  display: flex;
  align-items: center;
}

.comment_like span {
  padding-left: 5px;
  padding-top: 3px;
}

.comment_likebtn {
  background-image: url('../img/icon/like.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  background-color: inherit;
  border: 0;
}

.comment_date {
  width: 140px;
  text-align: center;
  margin-left: 20px;
}

.comment_reply {
  box-sizing: border-box;
  width: 40px;
  margin-left: 20px;
  font-size: 0.7rem;
  appearance: none;
  border: 1px solid #A4A4A4;
  color: #A4A4A4;
  padding-top: 3px;
}