/* 베스트레시피 */


/* 레시피 카테고리 바 */
.recipecards_wrap{
  display: grid;
}
.recipecard {
  width: 250px;
}
.recipe_menu_bar {
  display: flex;
  width: 702.2px;
  height: 50px;
  align-items: center;
  margin: auto;
  background-color: #EDDED7;
  border-radius: 50px;
  font-size: 0.9rem;
}

.recipe_menu_inactive  {
  color: #816759;
  padding: 17px 44.516px;
}

.recipe_menu_active {
  background-color: #F27E65;
  border-radius: 50px;
  color: #F2EEEC;
  padding: 17px 44.516px;
  transition: all 0.3s;
}


/* 카테고리별 레시피카드 */
.recipecards_wrap {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 800px;
  height: 765px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}

.recipecard {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.recipecard_img_wrap {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.recipecard_img {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.recipecard:hover .recipecard_img{
  transform: scale(1.1);
  transition: all 0.5s;
  
}

.recipecard_title_wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8px 3px 8px;
}

.recipecard_title {
  font-size: 1.3rem;
  padding-top: 3.5px;
}

.recipecard_heart_icon {
  background-image: url("../img/icon/scrap.png");
  width: 20px;
  height: 17.5px;
}

.heart_icon_on {
  background-image: url("../img/icon/scrap_on.png");
  width: 20px;
  height: 17.5px;
}

.recipecard_time_wrap {
  box-sizing: border-box;
  display: flex;
  font-size: 0.8rem;
  padding: 0 8px;
}

.recipecard_time_icon {
  background-image: url('../img/icon/clock.png');
  width: 12px;
  height: 15px;
}

.recipecard_time {
  color: #9C9C9C;
  padding-top: 2.5px;
  padding-left: 3px;
}

.recipecards_pagebtn_wrap {
  width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}

.recipecards_pagebtn_wrap .prevbtn {
  appearance: none;
  border: 0;
  background-color: inherit;
  background-image: url("../img/icon/prevbtn.png");
  width: 13px;
  height: 13px;
  background-size: cover;
  cursor: pointer;
}

.recipecards_pagebtn_wrap .nextbtn {
  appearance: none;
  border: 0;
  background-color: inherit;
  background-image: url("../img/icon/nextbtn.png");
  width: 13px;
  height: 13px;
  background-size: cover;
  cursor: pointer;
}

.currentpagebtnslide {
  display: inline-block;
  margin: 0 20px;
}

.recipecards_pagebtn {
  box-sizing: border-box;
  margin: 0 5px;
  appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 0;
  background-color: #D9D9D9;
  color: #303030;
  cursor: pointer;
}

.recipecards_pagebtn_on {
  box-sizing: border-box;
  margin: 0 5px;
  appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 0;
  color: #FBF2F2;
  background-color: #303030;
}
